body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color:white;
    line-height: 1.4em;
}

.container{
    padding-top: 2.5rem;
    padding-left: 2rem;
    display: flex;
    text-align: center;
}

.container a{
    display: flex;
    font-size: 130%;
}

.imagen{
    text-align: center;
    width: auto;
    height: 200px;
    overflow: hidden;
    margin: 0px;
    position: relative;

}

.header{ 
    background-color: white;
    color: black;
    padding: 1rem;
}

 .header a{
    margin: 0em .5em .5em 6em;
 }

 .logo-nav-container{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.arriba{
    float: right;
    align-items: center;
    justify-content: space-between;
    margin: 1.5em .5em .5em .5em;
}

.arriba a{
    text-align: right;
    margin: 1.5em 3em .5em 0.5em;
}

.navigation ul{
    font-size: 110%;
    align-items: center;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0em .5em 2em 1em;
}

.navigation ul li {

    display: inline-block;
    height: 3rem;
	width: 170rem;
}

.navigation ul li a{
    text-align: center;
    display: block;
    transition: all 0.2s;
    color: black;
    text-decoration:none;
    margin: .5em .5em .5em 1em;
    line-height: 3rem;

}
 
.navigation ul li :hover{
    background-color: #ABCDC0;
}


.piedepagina {
    line-height: 1.4em;
    margin: 1em .5em .5em 1em;
    justify-content: space-evenly;
    display: flex;
}

.siguenos{
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
}

.contacta{
    flex-direction: column;
    display: flex;
}

.encuentra{
    flex-direction: column;
    display: flex;
}

.pago {
    background-color:#ABCDC0 ;
    margin-top: 10em;
    margin-bottom: 2em;
    text-align: center;
    margin-left: 15em;
    margin-right: 15em;
}

.botones{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0em 1em 10em 9em;
    width: auto;
    height: auto;
}

.botones a{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 13px;
    color: black;
    background-color:#ABCDC0;
    border-radius: 6px;   
    margin-right: 9em;
  }